<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<!-- 配置Service扫描 -->
	
	
    <bean id="commonService" class="com.medical.service.impl.CommonServiceImpl"/>
    <!--用户接口  -->
    <bean id="userAccountService" class="com.medical.service.impl.user.UserAccountServiceImpl"/>
    <bean id="userInfoService" class="com.medical.service.impl.user.UserInfoServiceImpl"/>
    <bean id="userHomeService" class="com.medical.service.impl.user.UserHomeServiceImpl"/>
    <bean id="userSickService" class="com.medical.service.impl.user.UserSickServiceImpl"/>
    <bean id="userOrderService" class="com.medical.service.impl.user.UserOrderServiceImpl"/>
     <bean id="userPurseService" class="com.medical.service.impl.user.UserPurseServiceImpl"/>
    <!--医生接口  -->
    <bean id="doctorAccountService" class="com.medical.service.impl.doctor.DoctorAccountServiceImpl"/>
    <bean id="doctorInfoService" class="com.medical.service.impl.doctor.DoctorInfoServiceImpl"/>
     <bean id="doctorHomeService" class="com.medical.service.impl.doctor.DoctorHomeServiceImpl"/>
    <bean id="doctorOrderService" class="com.medical.service.impl.doctor.DoctorOrderServiceImpl"/>
    <bean id="doctorConsultationService" class="com.medical.service.impl.doctor.DoctorConsultationServiceImpl"/>
    <bean id="doctorPurseService" class="com.medical.service.impl.doctor.DoctorPurseServiceImpl"/>
    <!--医院接口  -->
   	<bean id="hospitalAccountService" class="com.medical.service.impl.hospital.HospitalAccountServiceImpl"/>
   	<bean id="hospitalHomeService" class="com.medical.service.impl.hospital.HospitalHomeServiceImpl"/>
    <bean id="hospitalInfoService" class="com.medical.service.impl.hospital.HospitalInfoServiceImpl"/>
    <bean id="hospitalOrderService" class="com.medical.service.impl.hospital.HospitalOrderServiceImpl"/>
   <bean id="HospitalConsultationService" class="com.medical.service.impl.hospital.HospitalConsultationServiceImpl"/>
   <bean id="HospitalPurseServiceService" class="com.medical.service.impl.hospital.HospitalPurseServiceImpl"/>
  
    <!--管理员接口  -->
    <bean id="adminFunctionService" class="com.medical.service.impl.admin.AdminFunctionServiceImpl"/>
    



</beans>
