<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medical.mapper.AdminmenuMapper" >
  <resultMap id="BaseResultMap" type="com.medical.po.Adminmenu" >
    <id column="menuId" property="menuid" jdbcType="INTEGER" />
    <result column="menuName" property="menuname" jdbcType="VARCHAR" />
    <result column="menuFatherId" property="menufatherid" jdbcType="INTEGER" />
    <result column="menuUrl" property="menuurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    menuId, menuName, menuFatherId, menuUrl
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.medical.po.AdminmenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from adminmenu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from adminmenu
    where menuId = #{menuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from adminmenu
    where menuId = #{menuid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.medical.po.AdminmenuExample" >
    delete from adminmenu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.medical.po.Adminmenu" >
    insert into adminmenu (menuId, menuName, menuFatherId, 
      menuUrl)
    values (#{menuid,jdbcType=INTEGER}, #{menuname,jdbcType=VARCHAR}, #{menufatherid,jdbcType=INTEGER}, 
      #{menuurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.medical.po.Adminmenu" >
    insert into adminmenu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuid != null" >
        menuId,
      </if>
      <if test="menuname != null" >
        menuName,
      </if>
      <if test="menufatherid != null" >
        menuFatherId,
      </if>
      <if test="menuurl != null" >
        menuUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuid != null" >
        #{menuid,jdbcType=INTEGER},
      </if>
      <if test="menuname != null" >
        #{menuname,jdbcType=VARCHAR},
      </if>
      <if test="menufatherid != null" >
        #{menufatherid,jdbcType=INTEGER},
      </if>
      <if test="menuurl != null" >
        #{menuurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.medical.po.AdminmenuExample" resultType="java.lang.Integer" >
    select count(*) from adminmenu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update adminmenu
    <set >
      <if test="record.menuid != null" >
        menuId = #{record.menuid,jdbcType=INTEGER},
      </if>
      <if test="record.menuname != null" >
        menuName = #{record.menuname,jdbcType=VARCHAR},
      </if>
      <if test="record.menufatherid != null" >
        menuFatherId = #{record.menufatherid,jdbcType=INTEGER},
      </if>
      <if test="record.menuurl != null" >
        menuUrl = #{record.menuurl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update adminmenu
    set menuId = #{record.menuid,jdbcType=INTEGER},
      menuName = #{record.menuname,jdbcType=VARCHAR},
      menuFatherId = #{record.menufatherid,jdbcType=INTEGER},
      menuUrl = #{record.menuurl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.medical.po.Adminmenu" >
    update adminmenu
    <set >
      <if test="menuname != null" >
        menuName = #{menuname,jdbcType=VARCHAR},
      </if>
      <if test="menufatherid != null" >
        menuFatherId = #{menufatherid,jdbcType=INTEGER},
      </if>
      <if test="menuurl != null" >
        menuUrl = #{menuurl,jdbcType=VARCHAR},
      </if>
    </set>
    where menuId = #{menuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.medical.po.Adminmenu" >
    update adminmenu
    set menuName = #{menuname,jdbcType=VARCHAR},
      menuFatherId = #{menufatherid,jdbcType=INTEGER},
      menuUrl = #{menuurl,jdbcType=VARCHAR}
    where menuId = #{menuid,jdbcType=INTEGER}
  </update>
</mapper>