<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medical.mapper.DoctortitleMapper" >
  <resultMap id="BaseResultMap" type="com.medical.po.Doctortitle" >
    <id column="docTitleId" property="doctitleid" jdbcType="INTEGER" />
    <result column="docTitleName" property="doctitlename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    docTitleId, docTitleName
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.medical.po.DoctortitleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from doctortitle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from doctortitle
    where docTitleId = #{doctitleid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from doctortitle
    where docTitleId = #{doctitleid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.medical.po.DoctortitleExample" >
    delete from doctortitle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.medical.po.Doctortitle" >
    insert into doctortitle (docTitleId, docTitleName)
    values (#{doctitleid,jdbcType=INTEGER}, #{doctitlename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.medical.po.Doctortitle" >
    insert into doctortitle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="doctitleid != null" >
        docTitleId,
      </if>
      <if test="doctitlename != null" >
        docTitleName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="doctitleid != null" >
        #{doctitleid,jdbcType=INTEGER},
      </if>
      <if test="doctitlename != null" >
        #{doctitlename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.medical.po.DoctortitleExample" resultType="java.lang.Integer" >
    select count(*) from doctortitle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update doctortitle
    <set >
      <if test="record.doctitleid != null" >
        docTitleId = #{record.doctitleid,jdbcType=INTEGER},
      </if>
      <if test="record.doctitlename != null" >
        docTitleName = #{record.doctitlename,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update doctortitle
    set docTitleId = #{record.doctitleid,jdbcType=INTEGER},
      docTitleName = #{record.doctitlename,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.medical.po.Doctortitle" >
    update doctortitle
    <set >
      <if test="doctitlename != null" >
        docTitleName = #{doctitlename,jdbcType=VARCHAR},
      </if>
    </set>
    where docTitleId = #{doctitleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.medical.po.Doctortitle" >
    update doctortitle
    set docTitleName = #{doctitlename,jdbcType=VARCHAR}
    where docTitleId = #{doctitleid,jdbcType=INTEGER}
  </update>
</mapper>