<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medical.mapper.FeedbackMapper" >
  <resultMap id="BaseResultMap" type="com.medical.po.Feedback" >
    <id column="feedBackId" property="feedbackid" jdbcType="INTEGER" />
    <result column="feedBackIdea" property="feedbackidea" jdbcType="VARCHAR" />
    <result column="feedBackTime" property="feedbacktime" jdbcType="TIMESTAMP" />
    <result column="feedBackIsCheck" property="feedbackischeck" jdbcType="BIT" />
    <result column="feedBackType" property="feedbacktype" jdbcType="INTEGER" />
    <result column="feedBackCheckTime" property="feedbackchecktime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    feedBackId, feedBackIdea, feedBackTime, feedBackIsCheck, feedBackType, feedBackCheckTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.medical.po.FeedbackExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from feedback
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from feedback
    where feedBackId = #{feedbackid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from feedback
    where feedBackId = #{feedbackid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.medical.po.FeedbackExample" >
    delete from feedback
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.medical.po.Feedback" >
    insert into feedback (feedBackId, feedBackIdea, feedBackTime, 
      feedBackIsCheck, feedBackType, feedBackCheckTime
      )
    values (#{feedbackid,jdbcType=INTEGER}, #{feedbackidea,jdbcType=VARCHAR}, #{feedbacktime,jdbcType=TIMESTAMP}, 
      #{feedbackischeck,jdbcType=BIT}, #{feedbacktype,jdbcType=INTEGER}, #{feedbackchecktime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.medical.po.Feedback" >
    insert into feedback
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="feedbackid != null" >
        feedBackId,
      </if>
      <if test="feedbackidea != null" >
        feedBackIdea,
      </if>
      <if test="feedbacktime != null" >
        feedBackTime,
      </if>
      <if test="feedbackischeck != null" >
        feedBackIsCheck,
      </if>
      <if test="feedbacktype != null" >
        feedBackType,
      </if>
      <if test="feedbackchecktime != null" >
        feedBackCheckTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="feedbackid != null" >
        #{feedbackid,jdbcType=INTEGER},
      </if>
      <if test="feedbackidea != null" >
        #{feedbackidea,jdbcType=VARCHAR},
      </if>
      <if test="feedbacktime != null" >
        #{feedbacktime,jdbcType=TIMESTAMP},
      </if>
      <if test="feedbackischeck != null" >
        #{feedbackischeck,jdbcType=BIT},
      </if>
      <if test="feedbacktype != null" >
        #{feedbacktype,jdbcType=INTEGER},
      </if>
      <if test="feedbackchecktime != null" >
        #{feedbackchecktime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.medical.po.FeedbackExample" resultType="java.lang.Integer" >
    select count(*) from feedback
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update feedback
    <set >
      <if test="record.feedbackid != null" >
        feedBackId = #{record.feedbackid,jdbcType=INTEGER},
      </if>
      <if test="record.feedbackidea != null" >
        feedBackIdea = #{record.feedbackidea,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbacktime != null" >
        feedBackTime = #{record.feedbacktime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.feedbackischeck != null" >
        feedBackIsCheck = #{record.feedbackischeck,jdbcType=BIT},
      </if>
      <if test="record.feedbacktype != null" >
        feedBackType = #{record.feedbacktype,jdbcType=INTEGER},
      </if>
      <if test="record.feedbackchecktime != null" >
        feedBackCheckTime = #{record.feedbackchecktime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update feedback
    set feedBackId = #{record.feedbackid,jdbcType=INTEGER},
      feedBackIdea = #{record.feedbackidea,jdbcType=VARCHAR},
      feedBackTime = #{record.feedbacktime,jdbcType=TIMESTAMP},
      feedBackIsCheck = #{record.feedbackischeck,jdbcType=BIT},
      feedBackType = #{record.feedbacktype,jdbcType=INTEGER},
      feedBackCheckTime = #{record.feedbackchecktime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.medical.po.Feedback" >
    update feedback
    <set >
      <if test="feedbackidea != null" >
        feedBackIdea = #{feedbackidea,jdbcType=VARCHAR},
      </if>
      <if test="feedbacktime != null" >
        feedBackTime = #{feedbacktime,jdbcType=TIMESTAMP},
      </if>
      <if test="feedbackischeck != null" >
        feedBackIsCheck = #{feedbackischeck,jdbcType=BIT},
      </if>
      <if test="feedbacktype != null" >
        feedBackType = #{feedbacktype,jdbcType=INTEGER},
      </if>
      <if test="feedbackchecktime != null" >
        feedBackCheckTime = #{feedbackchecktime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where feedBackId = #{feedbackid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.medical.po.Feedback" >
    update feedback
    set feedBackIdea = #{feedbackidea,jdbcType=VARCHAR},
      feedBackTime = #{feedbacktime,jdbcType=TIMESTAMP},
      feedBackIsCheck = #{feedbackischeck,jdbcType=BIT},
      feedBackType = #{feedbacktype,jdbcType=INTEGER},
      feedBackCheckTime = #{feedbackchecktime,jdbcType=TIMESTAMP}
    where feedBackId = #{feedbackid,jdbcType=INTEGER}
  </update>
</mapper>